<!DOCTYPE html>
<html>

<head>
  <title>利用状況表</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <!-- 処理中メッセージ -->
  <!-- <div class="msg">
    <div class="msgarea">
      <p class="msgarea__text">処理中です</p></i>
    </div>
  </div> -->
  <div class="top_bg">
    <h1 class="top_title">利用状況表ダウンロード</h1>
    <form action="/dlriyoustatus" name="dlform" method="POST">
      <input type="text" class="form_item flatpickr3"  style="display:inline-block;width:200px;margin-bottom:36px" name="target_yyyymmdd" value=<%= target_yyyymmdd %> placeholder="yyyymmddで入力" required />
      <br>
      <br>
      <input class="top_link"  style="width:300px;cursor:pointer" type="button" id="btnDl" value="利用状況表ダウンロード">
      <p id="dlmsg" style="display:none;font-size:16pt">ダウンロードしています</p>
    </form>
    <br>
    <a href="/">
      <img class="top_img" src="/static/images/building_logo.svg">
    </a>
  </div>
</body>
<script>
    let dlmsg = document.getElementById("dlmsg");
    let btnGetYoyaku = document.getElementById("btnDl");
    btnGetYoyaku.addEventListener("click", (e) => {
      scrollTo(0, 0);
      btnGetYoyaku.style.display = "none";
      dlmsg.style.display = "block"
      // let msg = document.getElementsByClassName("msg")[0];
      // msg.style.visibility = "visible";
      document.dlform.submit();
    });
</script>
<%- include("./common/javascripts.ejs") %>

</html>