<!DOCTYPE html>
<html>

<head>
  <title>INDEX</title>
  <%- include("./common/stylesheets.ejs") %>
  <style>
    .popover-content:popover-open {
      width: 300px;
      height: 120px;
      border-radius: 8px;
      border: none;
      padding: 24px;
      background: #ffffff;
    }
  </style>
</head>

<body>
  <div class="top_bg">
    <h1 class="top_title">当日予約状況</h1>
    <a class="top_link" href="./top">スライドへ</a>
  <!--    <a class="top_link" href="./dlriyoustatus">出力へ</a>  -->
    <br>
    <img class="top_img" src="/static/images/building_logo.svg">
  </div>
</body>

</html>